* {
    margin: 0;
    padding: 0;
}

body {
    min-height: 100%;
    height: 100%;
}

/* .clearfix::after {
    content: '';
    display: block;
    clear: both;
} */

.wrapper {
    width: 1024px;
    margin: 0 auto;
}

.main {
    margin: 0 auto;
    width: 600px;
    height: 600px;
    
}

.header {
    display: flex;
    width: 600px;
    height: 150px;
    background-color: #ffff00;
}

.contents-up {
    display: flex;
}

.left {
    width: 200px;
    height: 150px;
    background-color: #33ffff;
}

.center {
    width: 200px;
    height: 150px;
    background-color: #ff0000;
}

.right {
    width: 200px;
    height: 150px;
    background-color: #0000ff;
}

.contents-low {
    display: flex;
}

.low-left {
    width: 450px;
    height: 150px;
    background-color: #00ff00;
}

.low-right {
    width: 150px;
    height: 150px;
    background-color: #ff00ff;
}

.footer {
    display: flex;
    width: 600px;
    height: 150px;
    background-color: #33ffff;
}
