@media screen and (max-width: 767px) {
    .main {
        width: 300px;
    }

    .header {
        width: 300px;
    }

    .left {
        width: 100px;
    }

    .center {
        width: 125px;
    }

    .ri-right {
        width: 75px;
    }

    .ri-bottom {
        width: 200px;
    }

    .footer {
        width: 300px;
    }
}

@media screen and (max-width: 479px) {
    .main {
        width: 150px;
    }

    .header {
        width: 150px;
    }

    .left {
        width: 150px;
    }

    .center {
        width: 150px;
    }

    .ri-right {
        width: 150px;
    }

    .ri-bottom {
        width: 150px;
    }

    .footer {
        width: 150px;
    }

    .contents {
        float: none;
    }
}