* {
    margin: 0;
    padding: 0;
}

body {
    min-height: 100%;
    height: 100%;
}

.clearfix::after {
    content: '';
    display: block;
    clear: both;
}

.wrapper {
    width: 1024px;
    margin: 0 auto;
}

.main {
    margin: 0 auto;
    width: 400px;
    height: 450px;
}

.header {
    background-color: #141f40;
    height: 100px;
    width: 400px;
    position: relative;
}

.header-right {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 160px;
    height: 60px;
    background-color: white;
}

.header-ri-con {
    float: left;
    width: 40px;
    height: 40px;
    background-color: #a9004b;
    margin: 10px 0 10px 10px;
}

.left {
    float: left;
    background-color: #80bfa8;
    width: 150px;
    height: 250px;
}

.right {
    float: right;
    width: 250px;
    height: 250px;
    background-color: #8c2727;
}

.rightcontents {
    margin: 40px 60px 40px 40px;
}
.right-con {
    width: 140px;
    height: 40px;
    background-color: #ff863f;
    margin-bottom: 10px;
    border: 5px solid #fff;
}


.footer {
    background-color: #d98d30;
    height: 100px;
    width: 400px;
}